<section>
    <a href="/dashboard" class=""> &larr; back to dashboard</a>
  <h2 class="title">New Post</h2><hr>

  <form class="new-post-form">
    <div class="mb-3">
      <label for="post-title" class="form-label">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" placeholder="insert blog title here"/>
    </div>
    <div class="mb-3">
      <label for="post-content" class="form-label">Content</label>
      <input class="form-control" id="post-content" name="post-content" placeholder="insert blog content here"/>
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>
</section>

<script src="/js/newPost.js"></script>